<style>
  .container {
    padding: 40px 20px;
  }

  .banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .note {
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
  }

  .footer {
    margin-top: 40px;
    text-align: center;
  }
</style>
<div class="container">
  <div class="banner">
    <div>
      <img src="assets/18council.png" style="width: 320px" />
    </div>
  </div>
  <h1 style="text-align: center">
    <strong>Hmong 18 Council Alcohol Consumption Guideline</strong>
  </h1>
  <p style="text-align: center">&nbsp;</p>
  <p>
    <strong
      >Overview of Alcohol Consumption in the Hmong Community:<br /></strong
    >Alcohol consumption is responsible for an estimated 100,000 deaths in the
    United States due to alcohol-related motor vehicle crashes, cirrhosis,
    violence, and unintentional injuries. Alcohol usage within the Hmong
    community is an integral part of cultural practices in wedding negotiations
    and ceremonies, funeral services, and religious or spiritual rituals.
    Alcohol is also an acceptable norm in social engagements since it has
    <code>long</code> been a part of Hmong way of living in expressing respect
    and building friendship.
  </p>
  <p>
    <strong>Alcohol Consumption Concern in the Hmong Community: <br /></strong
    >Hmong 18 Council is concerned about the practice of alcohol use in the
    Hmong community:
  </p>
  <ul>
    <li>
      Health and well-being. Deterioration of health in Hmong community leaders,
      funeral practice experts (Thawj Lwm Tub Ncig), marriage negotiators, and
      the general public of Hmong youths and families.
    </li>
    <li>
      Driving Under the Influence: Increase of numbers in DWI arrest, automobile
      accidents and deaths, public safety concerns, loss of employment, loss of
      driver's license, loss of citizenship opportunities for Green Card
      holders.
    </li>
    <li>
      Anti-Social Behaviors: Loss of mind and self-control, physically and
      verbally abusive, loss of reputation and dignity.
    </li>
  </ul>
  <p><strong>Hmong 18 Council Encourage the Following Guideline: </strong></p>
  <ol style="list-style-type: upper-alpha">
    <li>There should be NO peer pressure to consume alcohol and/or liquor.</li>
    <li>A "12 (twelve) oz" or more beer should not be consumed in one shot.</li>
    <li>
      The guest(s) and/or attendee(s) should NOT be penalized for not finishing
      a drink Toaster should not force individuals to drink with him/her by
      stating: "drink as I drink," or "I need the can/bottle back!" (This
      results in peer pressure in drinking and/or alcohol abuse). There should
      be NO pressure, and it should be up to the guest(s) or attendee(s) how
      he/she likes to drink or be exempt from drinking without penalty.
      Attendees should be allowed to drink Pepsi products, juice, water, or
      prefer not to drink anything is fine.
    </li>
    <li>
      When drinking liquor: it is recommended that you should use only *1 (one)
      oz" cup and use practice A and (above) for guests/attendees.
    </li>
    <li>
      If you plan to drink, it is highly recommended to have a designated driver
      attend with you. When you're under the influence of alcohol, you must call
      a family member, friend, or Uber/taxi to drive you home. &nbsp;
    </li>
  </ol>

  <div class="note">
    Not affiliated with
    <a href="https://hmong18council.org/" target="_new">Hmong 18 Council</a>.
  </div>

  <div class="footer">Copyright © 2022 18 Clans</div>
</div>
